{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
<div class="row">
    <div class="col-md-12">
        <h2>Kocioł {{ boiler }} – Recenzje</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Kto</th>
                    <th>Ogólnie</th>
                    <th>Jakość</th>
                    <th>Obsługa</th>
                    <th>Gwarancja</th>
                </tr>
            </thead>
            <tbody>
                {% for review in boiler.reviews %}
                <tr>
                    <td>{{ review.created|date }}<br>{{ review.email }}<br>{{ review.userAgent|truncate(30) }}</td>
                    <td>{{ review.rating }} – {{ review.comment }}</td>
                    <td>{{ review.qualityRating }} – {{ review.qualityComment }}</td>
                    <td>{{ review.operationRating }} – {{ review.operationComment }}</td>
                    <td>{{ review.warrantyRating }} – {{ review.warrantyComment }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
