{% extends '::base.html.twig' %}

{% block edit_button %}
    {% if isAuthor %}
        <a class="btn btn-info btn-raised pull-right" href="{{ path('start', {slug: calc.slug}) }}">Edytuj informacje o budynku</a>
    {% endif %}
{% endblock %}

{% block body %}
<script>
    window.calculationId = {{ calc.id }};
</script>
{% set powerNeeded = calculator.necessaryStovePower %}
{% set sandCoalPowerNeeded = calculator.necessaryStovePower('sand_coal') %}

<div class="container">
    <div class="well bs-component">
        <div class="row">
          <div class="col-md-6">
              <h1>{{ describer.headline|raw }}</h1>
              <p class="lead" style="font-size:18px">A.D. {{ calc.constructionPeriod }}, {{ dimensions.heatedHouseArea|round(0, 'ceil') }}m<sup>2</sup> ogrzewane, {{ city.name }} i&nbsp;okolice</p>
          </div>
          <div class="rank col-md-6">
              <span class="class-badge {{ classifier.classString }}-class">{{ classifier.class }}</span>
              <h3>{{ classifier.classLabel }}</h3>
          </div>
        </div>

        <div class="row" id="info">
          <div class="col-md-6">
      <div class="alert alert-success">
          {% set resultUrl = url('result', {'slug': app.request.get('slug') }) %}
          Link do tego wyniku: <strong><a href="{{ resultUrl }}">{{ resultUrl }}</a></strong>
      </div>
            <h3>W skrócie o budynku</h3>
            <table class="table table-condensed">
                <tbody>
                    <tr><td class="col-md-4">Powierzchnia ogrzewana</td><td class="col-md-8">{{ describer.heatedAreaDescription|raw }}</td></tr>
                    <tr><td class="col-md-4">Jakość izolacji</td><td class="col-md-8">{{ describer.isolationQualityDescription|raw }}</td></tr>
                </tbody>
            </table>
            <p><a href="#full_house_details" data-toggle="modal" class="btn btn-default btn-raised">Zobacz pełne informacje o budynku</a></p>

            <div id="full_house_details" class="modal fade" role="dialog" aria-labelledby="pelneDetaleBudynku" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>Pełne informacje o budynku</h3>
                  </div>
                  <div class="modal-body">
                    <table class="table table-condensed">
                        <tbody>
                            <tr><td class="col-md-4">Powierzchnia zabudowy (obrys piętra)</td><td class="col-md-8">{{ dimensions.floorArea|round(0, 'ceil')|number_format }}m<sup>2</sup></td></tr>
                            <tr><td class="col-md-4">Powierzchnia całkowita budynku</td><td class="col-md-8">{{ dimensions.totalHouseArea|round(0, 'ceil') }}m<sup>2</sup></td></tr>
                            <tr><td class="col-md-4">Powierzchnia ogrzewana</td><td class="col-md-8">{{ dimensions.heatedHouseArea|round(0, 'ceil') }}m<sup>2</sup></td></tr>
                            <tr><td class="col-md-4">Kubatura przestrzeni ogrzewanej</td><td class="col-md-8">{{ dimensions.houseCubature|round(0, 'ceil') }}m<sup>3</sup></td></tr>
                            <tr><td class="col-md-4">Wysokość piętra</td><td class="col-md-8">{{ calc.house.floorHeight|number_format(1, ',') }}m</td></tr>
                        {% if calc.buildingType == 'apartment' %}
                            <tr><td class="col-md-4">Usytuowanie</td><td class="col-md-8">{{ describer.apartmentSituationDetails|raw }}</td></tr>
                        {% else %}
                            <tr><td class="col-md-4">Ogrzewane piętra</td><td class="col-md-8">{{ describer.heatedFloorsDetails }}</td></tr>
                            {% if floors.hasUnheatedFloors %}
                                <tr><td class="col-md-4">Nieogrzewane piętra</td><td class="col-md-8">{{ describer.unheatedFloorsDetails }}</td></tr>
                            {% endif %}
                        {% endif %}
                            <tr><td class="col-md-4">Ściany</td><td class="col-md-8">{{ describer.wallDetails}}</td></tr>
                            <tr><td class="col-md-4">Izolacja od góry</td><td class="col-md-8">{{ describer.roofDetails}}</td></tr>
                            <tr><td class="col-md-4">Izolacja od dołu</td><td class="col-md-8">{{ describer.groundDetails}}</td></tr>
                            <tr><td class="col-md-4">Drzwi i okna</td><td class="col-md-8">{{ describer.doorsWindowsDetails|raw }}</td></tr>
                            <tr><td class="col-md-4">Wentylacja</td><td class="col-md-8">{{ describer.ventilationDetails}}</td></tr>
                            <tr><td class="col-md-4">Temperatura w części ogrzewanej</td><td class="col-md-8">{{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C</td></tr>
                        </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Zamknij</a>
                  </div>
                </div>
              </div>
            </div>

            <h3>Warunki klimatyczne &mdash; {{ city.name }}</h3>
            {% set averageTemperature = heatingSeason.getAverageTemperature(calc) %}
            {% set lastYearAverageTemperature = heatingSeason.getLastYearAverageTemperature(calc) %}
            <p>{{ city.name }} leży w <strong>{{ climate.climateZone }}.</strong> <a href="http://www.hvacr.pl/public/styles/img_640/public/vademecum/mainPhoto/12/strefy_klimatyczne_polska.jpg" target="_blank">strefie klimatycznej</a>.
            Dlatego maksymalną moc grzewczą oblicza się tu dla średniej dobowej temperatury <strong>{{ climate.designOutdoorTemperature }}&deg;C</strong>.</p>
            <p>Przeciętny sezon grzewczy trwa u ciebie ok. <strong>{{ heatingSeason.getSeasonLength(calc) }} dni</strong>, ze średnią temperaturą <strong>{{ averageTemperature|number_format(2, ',', ' ') }}&deg;C</strong>.</p>
            {% if heatingSeason.getLastSeasonLength(calc) > 0 %}
                <p>Poprzedni sezon grzewczy trwał ok. <strong>{{ heatingSeason.getLastSeasonLength(calc) }} dni</strong>, ze średnią temperaturą <strong>{{ lastYearAverageTemperature|number_format(2, ',', ' ') }}&deg;C</strong>.</p>
            {% endif %}

          </div>
          <div class="col-md-6">
            <h3>Ile ciepła potrzebuje twój dom</h3>
            <p>Poniższe wyliczenia zakładają utrzymanie w domu przez całą zimę średniej dobowej temperatury <strong>{{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C</strong>.</p>

            <h4><span class="label label-warning">{{ (calculator.maxHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW' }}</span> maksymalna moc grzewcza</h4>
            <p>Tyle będzie potrzebne w "najmroźniejszy" dzień, przy średniej dobowej <strong>{{ climate.designOutdoorTemperature }}&deg;C</strong></p>
            <h5><span class="label label-default">{{ (calculator.avgHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW' }}</span> przeciętna moc grzewcza</h5>
            <p>Tyle będzie potrzebne w przeciętny dzień zimy, przy średniej dobowej <strong>{{ heatingSeason.getAverageTemperature()|number_format(1, ',', ' ') }}&deg;C</strong></p>
            <h5><span class="label label-default">{{ calculator.maxHeatingPowerPerArea|number_format(0, ',', ' ') }}W/m<sup>2</sup></span> wskaźnik zapotrzebowania na moc</h5>
            <p>Tę wartość znajdziesz w tabeli orientacyjnego doboru mocy kotła od jego producenta. {% if calculator.maxHeatingPowerPerArea < 85 %}Tyle że tam zaczyna się od 100W/m<sup>2</sup> wzwyż. Ciekawe, prawda?{% endif %}</p>
            <h5><span class="label label-default">{{ calculator.yearlyEnergyConsumption|number_format(0, ',', ' ') }}kWh = {{ (calculator.yearlyEnergyConsumption/277)|number_format(0, ',', ' ') }}GJ</span> całkowite roczne zużycie energii na ogrzewanie</h5>
            <p>Tyle ciepła <em>netto</em> potrzebuje twój dom na cały sezon grzewczy. Zależnie od tego, czym i&nbsp;z jaką sprawnością będziesz grzać, ilość ciepła <em>brutto</em>, jaką musisz kupić w opale, będzie odpowiednio wyższa.</p>
            <h5><span class="label label-default">{{ calculator.yearlyEnergyConsumptionFactor|number_format(0, ',', ' ') }}kWh/m<sup>2</sup>*rok</span> wskaźnik zużycia energii</h5>
            <p>Tę wartość znajdziesz na świadectwie energetycznym budynku (nowsze takie mają). Na tej podstawie twój dom zalicza się do <a href="http://cieplowlasciwie.pl/jak-to-dziala#klasyfikacja" target="_blank">klasy energetycznej&nbsp;<strong>{{ classifier.class }}</strong></a></p>

            {% if hotWater.included %}
                <h3>Przygotowanie ciepłej wody użytkowej (CWU)</h3>
                <p>Dla {{ calc.hotWaterPersons > 1 ? calc.hotWaterPersons ~ ' osób' : '1 osoby' }}, {{ hotWater.usageLabel }}.</p>
                <h4><span class="label label-warning">{{ (hotWater.power)|number_format(0, ',', ' ') ~ 'kW' }}</span> dodatkowa moc potrzebna do grzania CWU</h4>
                <p>To wystarczy. Po to stawia się duży zasobnik, aby można było grzać go powoli, niedużą mocą. Dla odmiany grzanie przepływowe wymaga mocy ponad 30kW.</p>
                <h5><span class="label label-default">~{{ (hotWater.tankCapacity)|number_format(0, ',', ' ') ~ 'l' }}</span> odpowiednia do potrzeb pojemność bojlera</h5>
                <p>W najgorszym razie nagrzanie całego zasobnika od temperatury kranowej do <strong>60&deg;C</strong> potrwa 2 godziny.</p>
             {% endif %}
          </div>
        </div>

        <div class="page-header" id="koszty">
          <h2>Koszty i efektywność ogrzewania</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
              <h3>Jak obecnie ogrzewasz</h3>
              {% set stoveEfficiency = calc.fuelConsumptionProvided ? calculator.yearlyStoveEfficiency*100 : 0 %}
              <dl>
                {% if calc.heatingDevice %}
                  <h4>{{ calc.heatingDevice.name }} {% if calc.stovePower %}o mocy {{ calc.stovePower|number_format(0, ',', ' ') ~ 'kW' }}{% else %}o nieznanej mocy{% endif %}</h4>
                {% endif %}
                {% if calc.fuelConsumptionProvided %}
                  <dt>{{ fuelService.formatFuelConsumption(calc) }}</dt>
                  <dd>zużycie paliwa w sezonie grzewczym</dd>
                {% endif %}
                {% if calc.fuelCost %}
                  <dt>{{ calc.fuelCost|number_format(0, ',', ' ') }}zł</dt>
                  <dd>roczny koszt ogrzewania</dd>
                {% endif %}
              </dl>

              {% if calc.stovePower %}
                {% if calculator.isStoveOversized and (not calc.fuelConsumptionProvided or stoveEfficiency < 40) %}
                    <div class="alert alert-danger">
                      <h4>Zbyt duża moc kotła drenuje ci portfel</h4>
                      Przez ten zbędny zapas mocy płacisz za opał, który bez pożytku ucieka kominem.
                      <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Co_zrobi_z_przewymiarowanym_kotem" target="_blank">Zobacz, dlaczego tak jest i jak to tanio naprawić</a>.
                    </div>
                {% endif %}
              {% endif %}

              {{ include('KrakenWarmBundle:Default:legacySetupEfficiency.html.twig', { 'calc': calc }) }}

              <h3>Jakie powinno być zużycie opału</h3>
              <p>Takich ilości opału potrzebuje twój dom. Zużywasz znacznie więcej? Znaczy, że spalasz go nieefektywnie. <a href="http://czysteogrzewanie.pl/jak-palic" target="_blank">Tutaj dowiesz się jak to naprawić.</a></p>
              <h4>W najmroźniejszy dzień</h4>
              <ul>
                  <li>~{{ calculator.dailyFuelConsumption('coal', 'max') }}kg węgla kamiennego na dobę, lub</li>
                  <li>~{{ calculator.dailyFuelConsumption('wood', 'max') }}kg drewna na dobę, lub</li>
                  <li>~{{ calculator.dailyFuelConsumption('natural_gas', 'max') }}m<sup>3</sup> gazu ziemnego na dobę</li>
              </ul>
              <h4>W przeciętny dzień zimy</h4>
              <ul>
                  <li>~{{ calculator.dailyFuelConsumption('coal', 'avg') }}kg węgla kamiennego na dobę, lub</li>
                  <li>~{{ calculator.dailyFuelConsumption('wood', 'avg') }}kg drewna na dobę, lub</li>
                  <li>~{{ calculator.dailyFuelConsumption('natural_gas', 'avg') }}m<sup>3</sup> gazu ziemnego na dobę</li>
              </ul>
              <h4>W ciągu sezonu grzewczego</h4>
              <ul>
                  <li>~{{ calculator.yearlyFuelConsumption('coal')|number_format(1, ',', ' ') }}t węgla kamiennego, lub</li>
                  <li>~{{ calculator.yearlyFuelConsumption('wood')|number_format(0, ',', ' ') }}mp drewna, lub</li>
                  <li>~{{ calculator.yearlyFuelConsumption('natural_gas')|number_format(0, ',', ' ') }}m<sup>3</sup> gazu ziemnego</li>
              </ul>
          </div>
          <div class="col-md-6">
              <h3>Jakiej mocy kotła potrzebujesz</h3>
              <h4><span class="label label-warning">{{ calculator.necessaryHeatingPower|number_format(0, ',', ' ') ~ 'kW' }}</span> to potrzebna moc grzewcza {% if hotWater.included %}(C.O. + CWU){% else %}(C.O. bez CWU){% endif %}</h4>
              <p>W tym jest moc na potrzeby ogrzania budynku{% if hotWater.included %}, ciepłą wodę (CWU){% endif %} i rozsądny zapas mocy przewidziany normami.</p>
              <h4>Wyszło {{ calculator.necessaryHeatingPower|number_format(0, ',', ' ') ~ 'kW' }}, instalator radzi {{ calculator.necessaryHeatingPower < 20 ? '25' : 40 }}kW, komu wierzyć?</h4>
              <p>Na pewno <strong>nie kupuj dwa-trzy razy większego kotła na węgiel/drewno</strong> (wyjątek: kotły miałowe, patrz poniżej) nawet jeśli sprzedawca, instalator, szwagier i sąsiad zgodnie twierdzą inaczej.
              <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Czym_grozi_zbyt_dua_moc_kota" target="_blank">Tacy doradcy troszczą się tylko o to, byś nie zamarzł(a)</a> i nie przyjmują do wiadomości, że podobnej wielkości budynek 30 lat temu potrzebował kotła 25kW a współczesny wymaga mniej niż 10kW. Dlatego przeważnie wcisną ci kilka razy za duży kocioł i nie będzie ich obchodziło, że kopci i spala więcej niż potrzeba.</p>
              <!--<div class="alert alert-info">
                  <h4>Dobór mocy z gwarancją sukcesu</h4>
                  <p>Nie chcesz zamarznąć przez zbyt mały kocioł ani popłynąć na kosztach opału ze zbyt wielkim kotłem? <strong>Zagwarantujemy ci prawidłowy dobór mocy</strong>.</p>
                  <p><a href="{{ path('guarantee') }}" class="btn btn-default btn-raised">Poznaj szczegóły</a></p>
              </div>-->
              <h4>Sugerowane moce różnych urządzeń</h4>
              <h5>Kocioł zasypowy: <span class="label label-warning">{{ (1.1*powerNeeded)|number_format(0, ',', ' ') ~ '-' ~ (1.3*powerNeeded)|number_format(0, ',', ' ') ~ 'kW' }}</span></h5>
              <strong>Zwracaj uwagę na paliwo podstawowe kotła!</strong>. Moc nominalna kotłów zasypowych obowiązuje dla paliwa podstawowego &mdash; przeważnie jest to węgiel kamienny. Jeśli zamierzasz zawsze palić czymś mniej kalorycznym, weź pod uwagę, że <strong>moc kotła będzie niższa</strong>, np. dla drewna o&nbsp;ok.&nbsp;30%, więc musisz wziąć odpowiednio większy kocioł.
              <h5>Kocioł miałowy: <span class="label label-warning">{{ sandCoalPowerNeeded|number_format(0, ',', ' ') ~ '-' ~  (1.2*sandCoalPowerNeeded)|number_format(0, ',', ' ') ~ 'kW' }}</span></h5>
              <dd><a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Wyjtek_dla_kotw_miaowych" target="_blank">Kocioł miałowy dobiera się nieco inaczej</a>. Taka moc ma pojemność zasypu wystarczającą do bezobsługowej pracy przez jedną dobę, jeśli będzie rozpalany od góry (a to jedyny wygodny sposób palenia miałem).</dd>
              {% set automaticStovePower = calculator.suggestedAutomaticStovePower %}
              <h5>Kocioł podajnikowy: <span class="label label-warning">{{ automaticStovePower ~ 'kW' }}</span></h5>
              <p>Kotły podajnikowe (zwłaszcza te najmniejsze) miewają min. kilka kilowatów zapasu ponad moc nominalną, więc często nie ma potrzeby kupowania wyższego wariantu mocy, gdy potrzeby domu są na styk z wariantem niższym. Ale to nie reguła! By się upewnić, <strong>sprawdzaj w DTR kotła lub pytaj producenta!</strong></p>
              <h5>Kocioł gazowy: <span class="label label-warning">> {{ (1.2*powerNeeded)|number_format(0, ',', ' ') ~ 'kW' }}</span></h5>
              <p>Kotły gazowe pracują z dobrą sprawnością nawet na niskich mocach, dlatego przy wyborze kieruj się zaleceniami producenta (również w doborze mocy na potrzeby CWU).<br />
                  Instalując kocioł kondensacyjny pamiętaj o takim zaprojektowaniu instalacji, <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Koty_gazowe" target="_blank">aby temperatura wody nie musiała przekraczać 60&deg;C</a> - inaczej nici z kondensacji i rachunki wzrosną.</p>
              <h5>Pompa ciepła: <span class="label label-warning"> {{ powerNeeded|number_format(0, ',', ' ') ~ 'kW' }}</span></h5>
              <p>Pompy ciepła pracują tylko z mocą nominalną, więc przy niższym zapotrzebowaniu włączają się i wyłączają cyklicznie, co nie jest korzystne. Dlatego powinno się je dobierać bardzo dokładnie do potrzeb budynku. <strong>Wskazane jest wykonanie profesjonalnego OZC!</strong></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h3>Którędy ucieka ciepło?</h3>
            <div id="heat_loss_breakdown"></div>
          </div>
          <div class="col-md-6">
            <h3>W co zainwestować, by taniej ogrzewać?</h3>
            {% set variants = upgrade.variants %}
            {% if variants %}
              <dl>
                {% for item in variants %}
                <dt>{{ item.gain * 100 ~ '%' }} taniej</dt>
                <dd>{{ item.title|raw }}</dd>
                {% endfor %}
              </dl>
            {% else %}
            <p>Dom jest dobrze ocieplony. Za rozsądne pieniądze nic tu nie poprawisz.</p>
            {% endif %}
          </div>
        </div>

        <div class="page-header" id="rady">
          <h2>Co warto zmienić</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
              <h3>Czym i za ile ogrzewać</h3>
              <p>Poniżej zebrane zostały roczne koszty ogrzewania różnymi paliwami (zakładając utrzymanie w domu temperatury {{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C przez cały sezon grzewczy) oraz koszty inwestycji w przypadku zmiany aktualnego sposobu ogrzewania na inny.</p>
              <div class="alert alert-warning">
                  W wyliczeniach przyjęto orientacyjne ceny paliw. Aby wyniki lepiej pasowały do&nbsp;twojej sytuacji, w każdej chwili <a href="#custom_fuel_prices" data-toggle="modal"><strong>możesz zmienić ceny paliw wedle uznania</strong></a>.</p>
              </div>

              <ul id="cost_charts_navbar" class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#" onclick="openHeatingCostsTab();return false;">Koszty ogrzewania</a></li>
                <li role="presentation"><a href="#" onclick="openSetupCostsTab();return false;">Koszty inwestycji</a></li>
              </ul>

              <div id="fuel_chart" style="height:600px"></div>
              <div id="setup_chart" style="height:600px;display:none"></div>
              <p><small><strong>Ekonomiczne palenie</strong> w kotle zasypowym to <a href="http://czysteogrzewanie.pl/jak-palic" target="_blank">palenie "od góry" w kotle górnego spalania</a> lub zgodnie z&nbsp;instrukcją w kotle dolnego spalania.
                  Efektywność tak obsługiwanego kotła można szacować na 50-60%. Jeśli twój kocioł produkuje smołę, wiadra sadzy i kłęby dymu, to jego efektywność nie przekracza 30-40% - a więc koszty ogrzewania będą sporo wyższe niż tutaj przedstawione.<br />
                  <strong>Cena prądu</strong> dotyczy strefy II ("nocnej") w taryfie dwustrefowej.</small>
              </p>
              <div id="custom_fuel_prices" class="modal fade" role="dialog" aria-labelledby="zmianaCenPaliw" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <a class="close" data-dismiss="modal">&times;</a>
                      <h3>Ceny paliw i koszt pracy</h3>
                    </div>
                    <div class="modal-body">
                      <p>Poniżej możesz podać ceny paliw dostępnych w twojej okolicy oraz cenę godziny twojej pracy w kotłowni, aby otrzymać bardziej realne podsumowanie kosztów ogrzewania.</p>
                      <div id="custom_fuel_prices2">
                        <form role="form">
                        <div class="form-group">
                            <label for="work_hour_cost" class="required control-label">Cena twojej pracy:</label>
                            <div class="input-group">
                                <input type="text" id="work_hour_cost" name="work_hour_cost" ng-model="workHourPrice" class="form-control" />
                                <span class="input-group-addon">zł/h</span>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="(fuel_type, fuel) in fuels">
                            <label for="fuel_{[{ fuel_type }]}" class="required control-label">{[{ fuel.name }]}:</label>
                            <div class="input-group">
                                  <input type="text" id="fuel_{[{ fuel_type }[}" name="fuel_{[{ fuel_type }]}" ng-model="fuel.human_price" class="form-control" />
                                  <span class="input-group-addon">zł/{[{ fuel.trade_unit }]}</span>
                            </div>
                        </div>
                        </form>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="#" class="btn" data-dismiss="modal">Zamknij</a>
                      <a href="#" class="btn btn-primary" id="update_fuels" ng-click="updateFuelCosts()">Przelicz koszty</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          {% if calc.fuelConsumptionProvided %}
            <h3>Jakie ogrzewanie jest najbardziej opłacalne?</h3>

            <p>{% if calc.fuelCost %}Obecnie płacisz za ogrzewanie <strong>{{ calc.fuelCost|number_format(0, ',', ' ') }}zł</strong> rocznie.{% endif %}
            Poniżej wybrane zostały sposoby ogrzewania, na które przejście byłoby opłacalne w twoim przypadku. Kosztują mniej pieniędzy i czasu niż to, czego obecnie używasz, a koszty inwestycji zwracają się w niższych rachunkach.</p>

            <div class="panel panel-success" ng-repeat="variant in filtered = (heatingVariants | filter: greaterThan('savedMoney', 0))">
              <div class="panel-heading"><strong>{[{ variant.label }]}</strong>&nbsp;<small>{[{ variant.version }]}</small></div>
              <div class="panel-body">
                <p ng-show="variant.setup_cost > 0">Koszt instalacji: <strong>~{[{ variant.setup_cost|currency }]}</strong> <small>
                (w tym: <span ng-repeat="item in variant.setup_costs">{[{ item[0] }]}: {[{ item[1]|currency }]}<span ng-show="!$last">, </span></span>)</small></p>
                <p ng-show="variant.setup_cost == 0">Koszt instalacji: żaden (nic nie musisz zmieniać)</p>
                <p>Roczna oszczędność: <strong>{[{ variant.totalSavings|currency }]}</strong> <span ng-show="variant.savedTime > 0"><small>tj. {[{ variant.savedMoney|currency }]} + {[{ variant.savedTime|number }]} godzin pracy ({[{ variant.savedTimeCost|currency }]})</small></span></p>
                <p ng-show="variant.setup_cost > 0">Czas zwrotu inwestycji: <strong>{[{ formatRoiPeriod(variant.roi) }]}</strong></p>
              </div>
            </div>

            <div class="alert alert-success" ng-show="(heatingVariants | filter: greaterThan('savedMoney', 0)).length == 0">
                <h4>Jest dobrze</h4>
                Wygląda na to, że przy obecnych kosztach ogrzewania twojego domu żadna zmiana nie będzie opłacalna.
            </div>

          {% else %}

            <h3>Jakie ogrzewanie jest najbardziej opłacalne?</h3>

            <p>Oto zestawienie kosztów ogrzewania najtańszym zdawałoby się kotłem zasypowym do innych wariantów, które są bardziej opłacalne. Aby porównanie było miarodajne, uwzględnione zostały "ukryte" koszty jak np. koszt budowy komina, wydzielenia kotłowni, niezbędne przyłącza itp.</p>

            <div class="panel panel-warning" ng-show="referenceVariant">
              <div class="panel-heading"><strong>{[{ referenceVariant.label }]}</strong>&nbsp;<small>{[{ referenceVariant.version }]}</small></div>
              <div class="panel-body">
                <p ng-show="referenceVariant.setup_cost > 0">Koszt instalacji: {[{ referenceVariant.setup_cost|currency }]} <small>
                (w tym: <span ng-repeat="item in referenceVariant.setup_costs">{[{ item[0] }]}: {[{ item[1]|currency }]}<span ng-show="!$last">, </span></span>)</small></p>
                <p>Koszt ogrzewania: <strong>{[{ referenceVariant.cost|currency }]}</strong> + {[{ referenceVariant.maintenance_time|number }]} godzin pracy</p>
              </div>
            </div>

            <p>Te sposoby ogrzewania będą korzystniejsze niż zwykły "śmieciuch" a wyższy koszt instalacji zwróci się w niższych rachunkach.</p>

            <div class="panel panel-success" ng-repeat="variant in heatingVariants" ng-show="variant.cost < referenceVariant.cost && filterOutManualStoveVariants(variant)">
              <div class="panel-heading"><strong>{[{ variant.label }]}</strong>&nbsp;<small>{[{ variant.version }]}</small></div>
              <div class="panel-body">
                <p>Różnica w kosztach instalacji: <strong>{[{ variant.setup_cost_diff|currency }]}</strong> <small>
                (razem ~{[{ variant.setup_cost|currency }]}, w tym: <span ng-repeat="item in variant.setup_costs">{[{ item[0] }]}: {[{ item[1]|currency }]}<span ng-show="!$last">, </span></span>)</small></p>
                <p>
                    Koszt ogrzewania: <strong>{[{ variant.cost|currency }]}</strong>
                    <span ng-show="variant.maintenance_time > 0"> oraz {[{ variant.maintenance_time|number }]} godzin pracy</span>
                    <span ng-show="variant.maintenance_time == 0"> (nie wymaga obsługi)</span>
                </p>
                <p>Roczna oszczędność: <strong>{[{ variant.totalSavings|currency }]}</strong> <small>tj. {[{ variant.savedMoney|currency }]} + {[{ variant.savedTime|number }]} godzin pracy ({[{ variant.savedTimeCost|currency }]})</small></p>
                <p ng-show="variant.setup_cost > 0">Czas zwrotu inwestycji: <strong>{[{ formatRoiPeriod(variant.roi) }]}</strong></p>
              </div>
            </div>

          {% endif %}

          </div>
        </div>

        {{ block('edit_button') }}
        <br style="clear:both"/>
    </div>
</div>

{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.0-beta.10/i18n/angular-locale_pl.js"></script>
  <script src="{{ asset('bundles/krakenwarm/js/vendor/highcharts.js') }}"></script>
  <script src="{{ asset('bundles/krakenwarm/js/result.js') }}"></script>
{% endblock %}
