{% extends '::base.html.twig' %}

{% block edit_button %}
    {% if isAuthor %}
        <a class="btn btn-info btn-big pull-right" href="{{ path('start', {slug: calc.slug}) }}">Edytuj informacje o budynku</a>
    {% endif %}
{% endblock %}

{% block body %}
<script>
    window.calculationId = {{ calc.id }};
</script>
{% set powerNeeded = calculator.necessaryStovePower %}
{% set sandCoalPowerNeeded = calculator.necessaryStovePower('sand_coal') %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{ punch.phrases.house }}</h1>
    <p class="lead">{{ punch.phrases.heating }}</p>
  </div>
</header>

<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a href="{{ url('result', {'slug': calc.slug}) }}">Bilans cieplny</a></li>
    <li><a href="{{ url('heaters', {'slug': calc.slug}) }}">Dobór grzejników</a></li>
  </ul>

  {{ block('edit_button') }}

  <div class="page-header">
    <h2>Informacje o budynku <small>{{ building.heatedHouseArea|number_format(0) }}m<sup>2</sup> do ogrzania</small></h2>
  </div>

  <div class="row" id="info">
    <div class="col-md-6">
      <div class="rank">
          <span class="class-badge {{ classifier.classString }}-class">{{ classifier.class }}</span>
          <h3>{{ classifier.classLabel }}</h3>
      </div>
      <p style="text-align:right;font-size:11px"><a href="{{ url('how_it_works') }}#klasyfikacja" target="_blank">Co to znaczy?</a></p>

      <h3>W skrócie o budynku</h3>
      <ul>
      {% for item in houseDescription %}
          <li>{{ item }}</li>
      {% endfor %}
      </ul>
      <p><strong>Lokalizacja:</strong> {{ city.name }} i okolice</p>
      <p><strong>Powierzchnia ogrzewana:</strong> {{ building.heatedHouseArea|number_format(0) }}m<sup>2</sup></p>
    </div>
    <div class="col-md-6">
      <div class="alert alert-success">
          <h4>Pokaż swój wynik innym</h4>
          {% set resultUrl = url('result', {'slug': app.request.get('slug') }) %}
          Możesz później wrócić do tej strony, przesłać komuś te wyniki<br /> lub umieścić na forum. <br />Po prostu skopiuj ten adres: <strong><a href="{{ resultUrl }}">{{ resultUrl }}</a></strong>
      </div>

      <h3>Warunki klimatyczne ({{ city.name }})</h3>
      {% set averageTemperature = heatingSeason.getAverageTemperature(calc) %}
      {% set lastYearAverageTemperature = heatingSeason.getLastYearAverageTemperature(calc) %}
      <p>Przeciętny sezon grzewczy trwa u ciebie ok. <strong>{{ heatingSeason.getSeasonLength(calc) }} dni</strong>, ze średnią temperaturą <strong>{{ averageTemperature|number_format(2, ',', ' ') }}&deg;C</strong>.</p>
      <p>Poprzedni sezon grzewczy trwał ok. <strong>{{ heatingSeason.getLastSeasonLength(calc) }} dni</strong>, ze średnią temperaturą <strong>{{ lastYearAverageTemperature|number_format(2, ',', ' ') }}&deg;C</strong>.</p>
      <div id="climate_chart"></div>
    </div>
  </div>

  <div class="page-header" id="koszty">
    <h2>Koszty i efektywność ogrzewania</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
        <h3>Jak obecnie ogrzewasz</h3>
          {% set stoveEfficiency = calc.fuelConsumptionProvided ? calculator.yearlyStoveEfficiency*100 : 0 %}
          <dl>
            {% if calc.heatingDevice %}
              <h4>{{ calc.heatingDevice.name }} {% if calc.stovePower %}o mocy {{ label_info(calc.stovePower|number_format(0, ',', ' ') ~ 'kW') }}{% endif %}</h4>
            {% endif %}
            {% if calc.fuelConsumptionProvided %}
              <dt>{{ calc.fuelLabel }}</dt>
              <dd>zużycie paliwa w sezonie grzewczym</dd>
            {% endif %}
            {% if calc.fuelCost %}
              <dt>{{ calc.fuelCost|number_format(0, ',', ' ') }}zł</dt>
              <dd>roczny koszt ogrzewania</dd>
            {% endif %}
            <dt>{{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C</dt>
            <dd>średnia temperatura w domu w ciągu zimy</dd>
          </dl>

          {% if calc.stovePower %}
            {% if calculator.isStoveOversized and (not fuelInfoProvided or stoveEfficiency < 40) %}
                <div class="alert alert-danger">
                  <h4>Zbyt duża moc kotła drenuje ci portfel</h4>
                  Przez ten zbędny zapas mocy płacisz za opał, który bez pożytku ucieka kominem.
                  <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Co_zrobi_z_przewymiarowanym_kotem" target="_blank">Zobacz, dlaczego tak jest i jak to tanio naprawić</a>.
                </div>
            {% endif %}
          {% endif %}

          {{ include('KrakenWarmBundle:Default:legacySetupEfficiency.html.twig', { 'calc': calc }) }}
    </div>
    <div class="col-md-6">
        <h3>Ile ciepła potrzebuje twój dom</h3>
        <dl>
          <dt>{{ label_success((calculator.maxHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>maksymalna moc grzewcza jakiej potrzebuje twój dom w największy mróz</dd>
          <dt>{{ calculator.maxHeatingPowerPerArea|number_format(0, ',', ' ') }}W/m<sup>2</sup></dt>
          <dd>wskaźnik mocy kotła względem ogrzewanego metrażu</dd>
          <dt>{{ calculator.yearlyEnergyConsumption|number_format(0, ',', ' ') }}kWh</dt>
          <dd>tyle ciepła zużyje dom w ciągu całego sezonu grzewczego</dd>
          <dt>{{ calculator.yearlyEnergyConsumptionFactor|number_format(0, ',', ' ') }}kWh/m<sup>2</sup>*rok</dt>
          <dd>zużycie roczne energii w przeliczeniu na 1m<sup>2</sup> - zalicza twój dom do klasy energetycznej&nbsp;<strong>{{ classifier.class }}</strong></dd>
        </dl>
        <h4>W najmroźniejszy dzień zimy <small>średnia dobowa {{ heatingSeason.getLowestTemperature()|number_format(0, ',', ' ') }}&deg;C na zewnątrz</small></h4>
        <dl>
          <dt>{{ label_success((calculator.maxHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>potrzebna moc grzewcza</dd>
        </dl>
        <h4>W przeciętny dzień zimy <small>{{ heatingSeason.getAverageTemperature()|number_format(1, ',', ' ') }}&deg;C na zewnątrz</small></h4>
        <dl>
          <dt>{{ label_success((calculator.avgHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>potrzebna moc grzewcza</dd>
        </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Podział strat ciepła</h3>
      <div id="heat_loss_breakdown"></div>
    </div>
    <div class="col-md-6">
      <h3>W co zainwestować, by taniej ogrzewać?</h3>
      {% set variants = upgrade.variants %}
      {% if variants %}
        <dl>
          {% for item in variants %}
          <dt>{{ label_warning(item.gain * 100 ~ '%') }} taniej</dt>
          <dd>{{ item.title|raw }}</dd>
          {% endfor %}
        </dl>
      {% else %}
      <p>Dom jest dobrze ocieplony. Za rozsądne pieniądze nic tu nie poprawisz.</p>
      {% endif %}
    </div>
  </div>

  <div class="page-header" id="rady">
    <h2>Jak żyć</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
        <h3>Czym i za ile ogrzewać</h3>
        <p>Poniżej zebrane zostały roczne koszty ogrzewania różnymi paliwami (zakładając utrzymanie w domu temperatury {{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C przez cały sezon grzewczy) oraz koszty inwestycji w przypadku zmiany aktualnego sposobu ogrzewania na inny.</p>
        <div class="alert alert-info">
            W wyliczeniach przyjęto orientacyjne ceny paliw. Aby wyniki lepiej pasowały do twojej sytuacji, w każdej chwili <a href="#custom_fuel_prices" data-toggle="modal"><strong>możesz zmienić ceny paliw</strong></a>.</p>  
        </div>

        <ul id="cost_charts_navbar" class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#" onclick="openHeatingCostsTab();return false;">Koszty ogrzewania</a></li>
          <li role="presentation"><a href="#" onclick="openSetupCostsTab();return false;">Koszty inwestycji</a></li>
        </ul>
  
        <div id="fuel_chart" style="height:600px"></div>
        <div id="setup_chart" style="height:600px;display:none"></div>
        <p><small><strong>Ekonomiczne spalanie</strong> to palenie "od góry" w kotle górnego spalania lub zgodnie z instrukcją w kotle dolnego spalania.<br />
            <strong>Cena prądu</strong> dotyczy strefy II ("nocnej") w taryfie dwustrefowej.</small>
        </p>
        <div id="custom_fuel_prices" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Ceny paliw i koszt pracy</h3>
              </div>
              <div class="modal-body">
                <p>Poniżej możesz podać ceny paliw dostępnych w twojej okolicy oraz cenę godziny twojej pracy w kotłowni, aby otrzymać bardziej realne podsumowanie kosztów ogrzewania.</p>
                <div id="custom_fuel_prices2">
                  <form role="form">
                  <div class="form-group">
                      <label for="work_hour_cost" class="required control-label">Cena twojej pracy:</label>
                      <div class="input-group">
                          <input type="text" id="work_hour_cost" name="work_hour_cost" value="{{ pricing.defaultWorkHourPrice }}" class="form-control" />
                          <span class="input-group-addon">zł/h</span>
                      </div>
                  </div>
                      {% for fuel in fuels %}
                      <div class="form-group">
                          <label for="fuel_{{ fuel.type }}" class="required control-label">{{ fuel.name }}:</label>
                          <div class="input-group">
                                <input type="text" id="fuel_{{ fuel.type }}" name="fuel_{{ fuel.type }}" value="{{ fuel.price * fuel.tradeAmount }}" class="form-control" />
                                <span class="input-group-addon">zł/{{ fuel.tradeUnit }}</span>
                          </div>
                      </div>
                      {% endfor %}
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Zamknij</a>
                <a href="#" class="btn btn-primary" id="update_fuels">Przelicz koszty</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Jakie ogrzewanie jest najbardziej opłacalne?</h3>

      <p>Poniższe sposoby ogrzewania pochłaniają mniej pieniędzy i czasu niż wariant, który obecnie stosujesz, a koszty inwestycji zwracają się w niższych rachunkach.</p>

      <div class="panel panel-success" ng-repeat="variant in filtered = (heatingVariants | filter: greaterThan('savedMoney', 0))">
        <div class="panel-heading"><strong>{[{ variant.label }]}</strong>&nbsp;<small>{[{ variant.version }]}</small></div>
        <div class="panel-body">
          Koszt instalacji: ~{[{ variant.setup_cost|currency }]} 
          (<small ng-repeat="item in variant.setup_costs">{[{ item[0] }]}: {[{ item[1]|currency }]}<span ng-show="!$last">, </span></small>)<br />
          Roczna oszczędność: <strong>{[{ variant.savedMoney|currency }]}</strong> oraz {[{ variant.savedTime|number }]} godzin pracy<br />
          Czas zwrotu inwestycji: <strong>{[{ formatRoiPeriod(variant.roi) }]}</strong><br />
        </div>
      </div>

      <div class="alert alert-success" style="display:none" ng-show="filtered|count == 0">
          <h4>Nie mamy lepszej propozycji</h4>
          Wygląda na to, że obecny sposób ogrzewania domu jest najbardziej opłacalny. Żadna z alternatyw nie da znaczących oszczędności.
      </div>

    </div>
  </div>

  {{ block('edit_button') }}
</div>

{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.0-beta.10/i18n/angular-locale_pl.js"></script>
{% endblock %}

{% block bottom_javascripts %}
<script src="{{ asset('bundles/krakenwarm/js/vendor/highcharts.js') }}"></script>
<script src="{{ asset('bundles/krakenwarm/js/result.js') }}"></script>
{% endblock %}
