{% extends '::base.html.twig' %}

{% block edit_button %}
    {% if isAuthor %}
        <a class="btn btn-info btn-big pull-right" href="{{ path('start', {slug: calc.slug}) }}">Edytuj informacje o budynku</a>
    {% endif %}
{% endblock %}

{% block body %}
<script>
    window.calculationId = {{ calc.id }};
</script>
{% set powerNeeded = calculator.necessaryStovePower %}
{% set sandCoalPowerNeeded = calculator.necessaryStovePower('sand_coal') %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{ punch.phrases.house }}</h1>
    <p class="lead">{{ punch.phrases.heating }}</p>
  </div>
</header>

<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a href="{{ url('result', {'slug': calc.slug}) }}">Bilans cieplny</a></li>
    <li><a href="{{ url('heaters', {'slug': calc.slug}) }}">Dobór grzejników</a></li>
  </ul>

  {{ block('edit_button') }}

  <div class="page-header">
    <h2>Informacje o budynku <small>{{ building.heatedHouseArea|number_format(0) }}m<sup>2</sup> do ogrzania</small></h2>
  </div>

  <div class="row" id="info">
    <div class="col-md-6">
      <div class="rank">
          <span class="class-badge {{ classifier.classString }}-class">{{ classifier.class }}</span>
          <h3>{{ classifier.classLabel }}</h3>
      </div>
      <p style="text-align:right;font-size:11px"><a href="{{ url('how_it_works') }}#klasyfikacja" target="_blank">Co to znaczy?</a></p>

      <h3>W skrócie o budynku</h3>
      <table class="table table-condensed">
          <thead>
              <tr><th colspan="2">{{ describer.headline|raw }}</th></tr>
          </thead>
          <tbody>
              <tr><td class="col-md-4">Lokalizacja</td><td>{{ city.name }} i okolice</td></tr>
          {% if calc.buildingType == 'apartment' %}
              <tr><td class="col-md-4">Powierzchnia ogrzewana</td><td class="col-md-8">{{ describer.areaDetails|raw }}</td></tr>
              <tr><td class="col-md-4">Ściany</td><td class="col-md-8">{{ describer.wallDetails}}</td></tr>
              <tr><td class="col-md-4">Ogrzewane piętra</td><td class="col-md-8">{{ describer.heatedFloorsDetails }}</td></tr>
              <tr><td class="col-md-4">Usytuowanie</td><td class="col-md-8">{{ describer.apartmentSituationDetails|raw }}</td></tr>
          {% else %}
              <tr><td class="col-md-4">Powierzchnia budynku</td><td class="col-md-8">{{ describer.areaDetails|raw }}</td></tr>
              <tr><td class="col-md-4">Ściany</td><td class="col-md-8">{{ describer.wallDetails}}</td></tr>
              <tr><td class="col-md-4">Ogrzewane piętra</td><td class="col-md-8">{{ describer.heatedFloorsDetails }}</td></tr>
              <tr><td class="col-md-4">Izolacja od góry</td><td class="col-md-8">{{ describer.roofDetails}}</td></tr>
              <tr><td class="col-md-4">Izolacja od dołu</td><td class="col-md-8">{{ describer.groundDetails}}</td></tr>
          {% endif %}
              <tr><td class="col-md-4">Drzwi i okna</td><td class="col-md-8">{{ describer.doorsWindowsDetails|raw }}</td></tr>
              <tr><td class="col-md-4">Wentylacja</td><td class="col-md-8">{{ describer.ventilationDetails}}</td></tr>
          </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="alert alert-success">
          <h4>Udostępnij wynik</h4>
          {% set resultUrl = url('result', {'slug': app.request.get('slug') }) %}
          Link do niniejszego wyniku to: <strong><a href="{{ resultUrl }}">{{ resultUrl }}</a></strong>. <br />Używając go możesz później wrócić do tej strony, przesłać ten wynik innej osobie lub umieścić np. na forum. 
      </div>

      <h3>Warunki klimatyczne ({{ city.name }})</h3>
      {% set averageTemperature = heatingSeason.getAverageTemperature(calc) %}
      {% set lastYearAverageTemperature = heatingSeason.getLastYearAverageTemperature(calc) %}
      <p>Przeciętny sezon grzewczy trwa u ciebie ok. <strong>{{ heatingSeason.getSeasonLength(calc) }} dni</strong>, ze średnią temperaturą <strong>{{ averageTemperature|number_format(2, ',', ' ') }}&deg;C</strong>.</p>
      <p>Poprzedni sezon grzewczy trwał ok. <strong>{{ heatingSeason.getLastSeasonLength(calc) }} dni</strong>, ze średnią temperaturą <strong>{{ lastYearAverageTemperature|number_format(2, ',', ' ') }}&deg;C</strong>.</p>
      <p>{{ city.name }} leży w <strong>{{ climate.climateZone }}.</strong> <a href="http://www.hvacr.pl/public/styles/img_640/public/vademecum/mainPhoto/12/strefy_klimatyczne_polska.jpg" target="_blank">strefie klimatycznej</a>.
      w której maksymalne zapotrzebowanie na ciepło oblicza się dla średniej dobowej temperatury <strong>{{ climate.designOutdoorTemperature }}&deg;C</strong>.</p>
    </div>
  </div>

  <div class="page-header" id="koszty">
    <h2>Koszty i efektywność ogrzewania</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
        <h3>Jak obecnie ogrzewasz</h3>
          {% set stoveEfficiency = calc.fuelConsumptionProvided ? calculator.yearlyStoveEfficiency*100 : 0 %}
          <dl>
            {% if calc.heatingDevice %}
              <h4>{{ calc.heatingDevice.name }} {% if calc.stovePower %}o mocy {{ label_info(calc.stovePower|number_format(0, ',', ' ') ~ 'kW') }}{% endif %}</h4>
            {% endif %}
            {% if calc.fuelConsumptionProvided %}
              <dt>{{ fuelService.formatFuelConsumption(calc) }}</dt>
              <dd>zużycie paliwa w sezonie grzewczym</dd>
            {% endif %}
            {% if calc.fuelCost %}
              <dt>{{ calc.fuelCost|number_format(0, ',', ' ') }}zł</dt>
              <dd>roczny koszt ogrzewania</dd>
            {% endif %}
            <dt>{{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C</dt>
            <dd>średnia temperatura w domu w ciągu zimy</dd>
          </dl>

          {% if calc.stovePower %}
            {% if calculator.isStoveOversized and (not calc.fuelConsumptionProvided or stoveEfficiency < 40) %}
                <div class="alert alert-danger">
                  <h4>Zbyt duża moc kotła drenuje ci portfel</h4>
                  Przez ten zbędny zapas mocy płacisz za opał, który bez pożytku ucieka kominem.
                  <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Co_zrobi_z_przewymiarowanym_kotem" target="_blank">Zobacz, dlaczego tak jest i jak to tanio naprawić</a>.
                </div>
            {% endif %}
          {% endif %}

          {{ include('KrakenWarmBundle:Default:legacySetupEfficiency.html.twig', { 'calc': calc }) }}
    </div>
    <div class="col-md-6">
        <h3>Ile ciepła potrzebuje twój dom</h3>
        <dl>
          <dt>{{ label_success((calculator.maxHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>maksymalna moc grzewcza jakiej potrzebuje twój dom w największy mróz</dd>
          <dt>{{ calculator.maxHeatingPowerPerArea|number_format(0, ',', ' ') }}W/m<sup>2</sup></dt>
          <dd>wskaźnik mocy kotła względem ogrzewanego metrażu</dd>
          <dt>{{ calculator.yearlyEnergyConsumption|number_format(0, ',', ' ') }}kWh</dt>
          <dd>tyle ciepła zużyje dom w ciągu całego sezonu grzewczego</dd>
          <dt>{{ calculator.yearlyEnergyConsumptionFactor|number_format(0, ',', ' ') }}kWh/m<sup>2</sup>*rok</dt>
          <dd>zużycie roczne energii w przeliczeniu na 1m<sup>2</sup> - zalicza twój dom do klasy energetycznej&nbsp;<strong>{{ classifier.class }}</strong></dd>
        </dl>
        <h4>W najmroźniejszy dzień zimy <small>średnia dobowa {{ heatingSeason.getLowestTemperature()|number_format(0, ',', ' ') }}&deg;C na zewnątrz</small></h4>
        <dl>
          <dt>{{ label_success((calculator.maxHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>potrzebna moc grzewcza</dd>
        </dl>
        <h4>W przeciętny dzień zimy <small>{{ heatingSeason.getAverageTemperature()|number_format(1, ',', ' ') }}&deg;C na zewnątrz</small></h4>
        <dl>
          <dt>{{ label_success((calculator.avgHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>potrzebna moc grzewcza</dd>
        </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Podział strat ciepła</h3>
      <div id="heat_loss_breakdown"></div>
    </div>
    <div class="col-md-6">
      <h3>W co zainwestować, by taniej ogrzewać?</h3>
      {% set variants = upgrade.variants %}
      {% if variants %}
        <dl>
          {% for item in variants %}
          <dt>{{ label_warning(item.gain * 100 ~ '%') }} taniej</dt>
          <dd>{{ item.title|raw }}</dd>
          {% endfor %}
        </dl>
      {% else %}
      <p>Dom jest dobrze ocieplony. Za rozsądne pieniądze nic tu nie poprawisz.</p>
      {% endif %}
    </div>
  </div>

  <div class="page-header" id="rady">
    <h2>Jak żyć</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
        <h3>Czym i za ile ogrzewać</h3>
        <p>Poniżej zebrane zostały roczne koszty ogrzewania różnymi paliwami (zakładając utrzymanie w domu temperatury {{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C przez cały sezon grzewczy) oraz koszty inwestycji w przypadku zmiany aktualnego sposobu ogrzewania na inny.</p>
        <div class="alert alert-warning">
            W wyliczeniach przyjęto orientacyjne ceny paliw. Aby wyniki lepiej pasowały do&nbsp;twojej sytuacji, w każdej chwili <a href="#custom_fuel_prices" data-toggle="modal"><strong>możesz zmienić ceny paliw wedle uznania</strong></a>.</p>
        </div>

        <ul id="cost_charts_navbar" class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#" onclick="openHeatingCostsTab();return false;">Koszty ogrzewania</a></li>
          <li role="presentation"><a href="#" onclick="openSetupCostsTab();return false;">Koszty inwestycji</a></li>
        </ul>

        <div id="fuel_chart" style="height:600px"></div>
        <div id="setup_chart" style="height:600px;display:none"></div>
        <p><small><strong>Ekonomiczne palenie</strong> w kotle zasypowym to <a href="http://czysteogrzewanie.pl/jak-palic" target="_blank">palenie "od góry" w kotle górnego spalania</a> lub zgodnie z&nbsp;instrukcją w kotle dolnego spalania.
            Efektywność tak obsługiwanego kotła można szacować na 50-60%. Jeśli twój kocioł produkuje smołę, wiadra sadzy i kłęby dymu, to jego efektywność nie przekracza 30-40% - a więc koszty ogrzewania będą sporo wyższe niż tutaj przedstawione.<br />
            <strong>Cena prądu</strong> dotyczy strefy II ("nocnej") w taryfie dwustrefowej.</small>
        </p>
        <div id="custom_fuel_prices" class="modal fade" role="dialog" aria-labelledby="zmianaCenPaliw" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Ceny paliw i koszt pracy</h3>
              </div>
              <div class="modal-body">
                <p>Poniżej możesz podać ceny paliw dostępnych w twojej okolicy oraz cenę godziny twojej pracy w kotłowni, aby otrzymać bardziej realne podsumowanie kosztów ogrzewania.</p>
                <div id="custom_fuel_prices2">
                  <form role="form">
                  <div class="form-group">
                      <label for="work_hour_cost" class="required control-label">Cena twojej pracy:</label>
                      <div class="input-group">
                          <input type="text" id="work_hour_cost" name="work_hour_cost" ng-model="workHourPrice" class="form-control" />
                          <span class="input-group-addon">zł/h</span>
                      </div>
                  </div>
                  <div class="form-group" ng-repeat="(fuel_type, fuel) in fuels">
                      <label for="fuel_{[{ fuel_type }]}" class="required control-label">{[{ fuel.name }]}:</label>
                      <div class="input-group">
                            <input type="text" id="fuel_{[{ fuel_type }[}" name="fuel_{[{ fuel_type }]}" ng-model="fuel.human_price" class="form-control" />
                            <span class="input-group-addon">zł/{[{ fuel.trade_unit }]}</span>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Zamknij</a>
                <a href="#" class="btn btn-primary" id="update_fuels" ng-click="updateFuelCosts()">Przelicz koszty</a>
              </div>
            </div>
        </div>
      </div>

      <h3>Jakiej mocy kotła szukać?</h3>
      <div class="alert alert-danger">Podane niżej moce dotyczą wyłącznie ogrzewania budynku. Dla podgrzewania wody (CWU) <a href="http://czysteogrzewanie.pl/zakupy/co-za-duzo-to-niezdrowo-dobor-mocy-kotla-weglowego/#Ile_mocy_na_potrzeby_CWU" target="_blank">trzeba dodać co nieco kilowatów</a>.</div>
      <dl>
      {% if powerNeeded > 3 %}
        <dt>{{ label_success((1.1*powerNeeded)|number_format(0, ',', ' ') ~ '-' ~ (1.25*powerNeeded)|number_format(0, ',', ' ') ~ 'kW') }} dla kotła zasypowego</dt>
        <dd>Nie kupuj dwa-trzy raz większego kotła nawet jeśli sprzedawca, instalator, szwagier i sąsiedzi twierdzą inaczej. <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Czym_grozi_zbyt_dua_moc_kota" target="_blank">To ty będziesz miał z nim kosztowne problemy</a>, a oni umyją ręce tak czy inaczej.
        </dd>
        {% set automaticStovePower = calculator.suggestedAutomaticStovePower %}
        <dt>{{ label_success(automaticStovePower ~ 'kW') }} dla kotła podajnikowego</dt>
        <dd>Kotły podajnikowe (zwłaszcza te najmniejsze) posiadają nawet 30% zapasu ponad moc nominalną (potwierdzenie znajdziesz w DTR kotła), więc często nie ma potrzeby kupowania wyższego wariantu mocy, gdy potrzeby domu są na styk z wariantem niższym.</dd>
        <dt>{{ label_success(sandCoalPowerNeeded|number_format(0, ',', ' ') ~ '-' ~  (1.2*sandCoalPowerNeeded)|number_format(0, ',', ' ') ~ 'kW') }} dla kotła miałowego</dt>
        <dd><a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Wyjtek_dla_kotw_miaowych" target="_blank">Kocioł miałowy dobiera się nieco inaczej</a>. Taka moc ma pojemność zasypu wystarczającą do bezobsługowej pracy przez jedną dobę, jeśli będzie rozpalany od góry (a to jedyny wygodny sposób palenia miałem).</dd>
      {% else %}
          <dt>Zapomnij o kotle węglowym</dt>
          <p>Nie istnieją kotły węglowe pracujące efektywnie z tak małą mocą.</p>
      {% endif %}
        <dt>min. {{ label_success((1.2*powerNeeded)|number_format(0, ',', ' ') ~ 'kW') }} dla kotła gazowego</dt>
        <dd>Kotły gazowe pracują z dobrą sprawnością nawet na niskich mocach, dlatego przy wyborze kieruj się zaleceniami producenta (również w doborze mocy na potrzeby CWU).<br />
            Instalując kocioł kondensacyjny pamiętaj o takim zaprojektowaniu instalacji, <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Koty_gazowe" target="_blank">aby temperatura wody nie musiała przekraczać 60&deg;C</a> - inaczej nici z kondensacji i rachunki wzrosną.</dd>
      </dl>
      {% if powerNeeded > 3 and powerNeeded <= 10 %}
          <div class="alert alert-warning">
            <h4>Co jeśli nie znajdę kotła zasypowego o tak małej mocy?</h4>
            <ul>
                <li><a href="http://czysteogrzewanie.pl/warsztat/bufor-ciepla/" target="_blank"><strong>zainstaluj bufor ciepła</strong></a> - dzięki niemu kocioł zasypowy zbliża się wygodą obsługi i efektywnością do kotłów na ekogroszek, a koszty ogrzewania są niższe dzięki tańszemu paliwu i lepszej efektywności pracy. Wtedy moc kotła może być większa, bo dobiera się ją do pojemności bufora, a nie do budynku.</li>
                <li><a href="http://czysteogrzewanie.pl/2014/05/nie-pakuj-smieciucha-do-nowego-domu" target="_blank">rozważ inne rodzaje ogrzewania</a>, np. kocioł na ekogroszek, pellet, gaz ziemny czy pompę ciepła. W nowych malutkich domach różnice w rachunkach między tymi źródłami ciepła to 200-300zł.</li>
                <li>w ostateczności bierz kocioł zasypowy o mocy ok. 10-12kW, ale jeśli zaprzęgniesz go do instalacji z przewagą podłogówki, to szybko doświadczysz problemów (ot choćby hurtowej produkcji smoły), których uniknąłbyś montując od razu <a href="http://czysteogrzewanie.pl/warsztat/bufor-ciepla/" target="_blank">bufor ciepła</a>.</li>
            </ul>
          </div>
      {% endif %}

    </div>
    <div class="col-md-6">
    {% if calc.fuelConsumptionProvided %}
      <h3>Jakie ogrzewanie jest najbardziej opłacalne?</h3>

      <p>{% if calc.fuelCost %}Obecnie płacisz za ogrzewanie <strong>{{ calc.fuelCost|number_format(0, ',', ' ') }}zł</strong> rocznie.{% endif %}
      Poniżej wybrane zostały sposoby ogrzewania, na które przejście byłoby opłacalne w twoim przypadku. Kosztują mniej pieniędzy i czasu niż to, czego obecnie używasz, a koszty inwestycji zwracają się w niższych rachunkach.</p>

      <div class="panel panel-success" ng-repeat="variant in filtered = (heatingVariants | filter: greaterThan('savedMoney', 0))">
        <div class="panel-heading"><strong>{[{ variant.label }]}</strong>&nbsp;<small>{[{ variant.version }]}</small></div>
        <div class="panel-body">
          <p ng-show="variant.setup_cost > 0">Koszt instalacji: <strong>~{[{ variant.setup_cost|currency }]}</strong> <small>
          (w tym: <span ng-repeat="item in variant.setup_costs">{[{ item[0] }]}: {[{ item[1]|currency }]}<span ng-show="!$last">, </span></span>)</small></p>
          <p ng-show="variant.setup_cost == 0">Koszt instalacji: żaden (nic nie musisz zmieniać)</p>
          <p>Roczna oszczędność: <strong>{[{ variant.totalSavings|currency }]}</strong> <span ng-show="variant.savedTime > 0"><small>tj. {[{ variant.savedMoney|currency }]} + {[{ variant.savedTime|number }]} godzin pracy ({[{ variant.savedTimeCost|currency }]})</small></span></p>
          <p ng-show="variant.setup_cost > 0">Czas zwrotu inwestycji: <strong>{[{ formatRoiPeriod(variant.roi) }]}</strong></p>
        </div>
      </div>

      <div class="alert alert-success" ng-show="(heatingVariants | filter: greaterThan('savedMoney', 0)).length == 0">
          <h4>Jest dobrze</h4>
          Wygląda na to, że przy obecnych kosztach ogrzewania twojego domu żadna zmiana nie będzie opłacalna.
      </div>

    {% else %}

      <h3>Jakie ogrzewanie jest najbardziej opłacalne?</h3>

      <p>Oto zestawienie kosztów ogrzewania najtańszym zdawałoby się kotłem zasypowym do innych wariantów, które są bardziej opłacalne. Aby porównanie było miarodajne, uwzględnione zostały "ukryte" koszty jak np. koszt budowy komina, wydzielenia kotłowni, niezbędne przyłącza itp.</p>

      <div class="panel panel-warning" ng-show="referenceVariant">
        <div class="panel-heading"><strong>{[{ referenceVariant.label }]}</strong>&nbsp;<small>{[{ referenceVariant.version }]}</small></div>
        <div class="panel-body">
          <p ng-show="referenceVariant.setup_cost > 0">Koszt instalacji: {[{ referenceVariant.setup_cost|currency }]} <small>
          (w tym: <span ng-repeat="item in referenceVariant.setup_costs">{[{ item[0] }]}: {[{ item[1]|currency }]}<span ng-show="!$last">, </span></span>)</small></p>
          <p>Koszt ogrzewania: <strong>{[{ referenceVariant.cost|currency }]}</strong> + {[{ referenceVariant.maintenance_time|number }]} godzin pracy</p>
        </div>
      </div>

      <p>Te sposoby ogrzewania będą korzystniejsze niż zwykły "śmieciuch" a wyższy koszt instalacji zwróci się w niższych rachunkach.</p>

      <div class="panel panel-success" ng-repeat="variant in heatingVariants" ng-show="variant.cost < referenceVariant.cost && filterOutManualStoveVariants(variant)">
        <div class="panel-heading"><strong>{[{ variant.label }]}</strong>&nbsp;<small>{[{ variant.version }]}</small></div>
        <div class="panel-body">
          <p>Różnica w kosztach instalacji: <strong>{[{ variant.setup_cost_diff|currency }]}</strong> <small>
          (razem ~{[{ variant.setup_cost|currency }]}, w tym: <span ng-repeat="item in variant.setup_costs">{[{ item[0] }]}: {[{ item[1]|currency }]}<span ng-show="!$last">, </span></span>)</small></p>
          <p>
              Koszt ogrzewania: <strong>{[{ variant.cost|currency }]}</strong>
              <span ng-show="variant.maintenance_time > 0"> oraz {[{ variant.maintenance_time|number }]} godzin pracy</span>
              <span ng-show="variant.maintenance_time == 0"> (nie wymaga obsługi)</span>
          </p>
          <p>Roczna oszczędność: <strong>{[{ variant.totalSavings|currency }]}</strong> <small>tj. {[{ variant.savedMoney|currency }]} + {[{ variant.savedTime|number }]} godzin pracy ({[{ variant.savedTimeCost|currency }]})</small></p>
          <p ng-show="variant.setup_cost > 0">Czas zwrotu inwestycji: <strong>{[{ formatRoiPeriod(variant.roi) }]}</strong></p>
        </div>
      </div>

    {% endif %}

    </div>
  </div>

  {{ block('edit_button') }}
</div>

{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.0-beta.10/i18n/angular-locale_pl.js"></script>
{% endblock %}

{% block bottom_javascripts %}
<script src="{{ asset('bundles/krakenwarm/js/vendor/highcharts.js') }}"></script>
<script src="{{ asset('bundles/krakenwarm/js/result.js') }}"></script>
{% endblock %}
