{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Ranking kotłów węglowych{% endblock %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, inverse: false, id: 'navbar-example' } %}
        {% block brand %}
            <a class="navbar-brand" style="padding:5px 15px" href="{{ path('ranking_homepage') }}"><img src="{{ asset('bundles/krakenranking/images/logo_ranking.png') }}" alt="Ranking kotłów" style="height:38px" /></a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('KrakenRankingBundle:Builder:createMainMenu') }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block footer %}
<div class="container">
  <p>Ranking kotłów jest częścią serwisu <a href="http://czysteogrzewanie.pl" target="_blank">Czyste Ogrzewanie</a>, który pokazuje jak znikomym kosztem uczynić ogrzewanie węglem i drewnem efektywniejszym i czystszym.</p>
</div>
{% endblock footer %}

{% block head_style %}
    <link href="{{ asset('assets/css/vendor.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/ranking.css') }}" rel="stylesheet">
{% endblock head_style %}

{% block head_script %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock head_script %}

{% block foot_script_assetic %}
    <script src="{{ asset('assets/js/vendor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/ranking_vendor.js') }}" type="text/javascript"></script>
{% endblock foot_script_assetic %}

{% block head_bottom %}
    {{ ogp()|raw }}
{% endblock head_bottom %}
