{% extends '::base_ranking.html.twig' %}

{% block title %}{{ boiler.name }} - ranking kotłów węglowych{% endblock title %}

{% block page_title %}{{ boiler.name }}{% endblock page_title %}

{% block body %}

<ul class="pager">
  {# TODO #}
  {% set back = backLink is defined ? backLink : path('ranking_boiler_category', {'category': boiler.category.slug }) %}
  <li class="previous"><a href="{{ back }}">← Powrót do listy kotłów</a></li>
</ul>

<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="{{ vich_uploader_asset(boiler, 'imageFile') }}" />
        </div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Ocena w rankingu</th>
              <td><span class="label boiler-class {{ boiler.rating|lower }}-class">{{ boiler.rating }}</span></td>
            </tr>
            <tr>
              <th scope="row">Producent</th>
              <td><a href="{{ path('ranking_boiler_manufacturer', {'manufacturer': boiler.manufacturer.slug }) }}">{{ boiler.manufacturer.name }}</a></td>
            </tr>
            <tr>
              <th scope="row">Rodzaj kotła</th>
              <td><a href="{{ path('ranking_boiler_category', {'category': boiler.category.slug }) }}">{{ boiler.category.singularName }}</a></td>
            </tr>
            {% if boiler.exchangerNormPercent > 0 %}
            <tr>
              <th scope="row">Powierzchnia wymiennika</th>
              <td><strong>{{ boiler.exchangerNormPercent|round }}%</strong> współczesnego standardu</td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row">{{ boiler.handFueled ? 'Pojemność zasypowa' : 'Pojemność zasobnika' }}</th>
              <td>~{{ boiler.typicalModelCapacityInKilograms|round }}kg</td>
            </tr>
        {% if boiler.isHandFueled %}
            <tr>
              <th scope="row">Przeciętna stałopalność</th>
              <td>~{{ boiler.typicalModelWorkTime }}h<sup>(1)</sup></td>
            </tr>
        {% endif %}
            <tr>
              <th scope="row">Do układu zamkniętego</th>
              <td><span class="label label-{{ boiler.forClosedSystem ? 'success' : 'danger' }}">{{ boiler.forClosedSystem ? 'tak' : 'nie' }}</span></td>
            </tr>
            <tr>
              <th scope="row">Paliwa podstawowe<sup>(2)</sup></th>
              <td>
                  <ul>
                  {% for bft in boiler.boilerFuelTypes %}
                      <li>{{ bft.fuelType }}</li>
                  {% endfor %}
                  </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Dostępne moce</th>
              <td>
                  {% for power in boiler.boilerPowers %}
                      <span class="label boiler-power">{{ power.power|number_format }}kW</span>
                  {% endfor %}
              </td>
            </tr>
            <tr>
              <th scope="row">
                  Klasa<br/><small><a href="http://czysteogrzewanie.pl/kociol/ranking-kotlow-weglowych/norma-pn-en-303-5-2012/" target="_blank">wg normy <span style="white-space:nowrap">PN-EN 303-5:2012</span></a></small></th>
              <td>
                  {% if boiler.normClass %}
                      {{ boiler.normClass }}
                  {% else %}
                      <i>nie przebadano</i>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Gwarancja</th>
              <td>{{ boiler.warrantyYears }}</td>
            </tr>
            <tr>
              <th scope="row">Instrukcja obsługi</th>
              <td>{% if boiler.userManual %}<a href="{{ boiler.userManual }}" target="_blank" rel="nofollow">dostępna</a>{% else %}<i>niedostępna</i>{% endif %}</td>
            </tr>
            <tr>
              <th scope="row">Strona producenta</th>
              <td><a href="{{ boiler.manufacturerSite }}" target="_blank" rel="nofollow">przejdź do strony producenta</a></td>
            </tr>
            <tr>
              <th scope="row">Orientacyjna cena</th>
              <td>
                  {% if boiler.typicalModelPrice %}
                      od {{ boiler.typicalModelPrice|number_format(0, ',', ' ') }}zł ({{ boiler.typicalModelPowerString }}kW)
                  {% else %}
                      <em>nieznana</em>
                  {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <p><sup>(1)</sup> - orientacyjny czas pracy na pełnym załadunku paliwa podstawowego przy 60%&nbsp;mocy nominalnej</p>
        <p><sup>(2)</sup> - paliwa podstawowe określa producent; to takie, na których kocioł jest w stanie osiągnąć moc nominalną</p>
        <p>Ostatnia aktualizacja: {{ boiler.updated|date('d.m.Y') }}</p>
    </div>
    <div class="col-sm-8">
        <ul id="boilerTabs" class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="#overview" id="overview-tab" role="tab" data-toggle="tab" aria-controls="overview" aria-expanded="true">Podsumowanie</a></li>
              <li role="presentation" class=""><a href="#details" role="tab" id="details-tab" data-toggle="tab" aria-controls="details" aria-expanded="false">Szczegóły</a></li>
              <li role="presentation" class=""><a href="#rating" role="tab" id="rating-tab" data-toggle="tab" aria-controls="rating" aria-expanded="false">Ocena w rankingu</a></li>
              <li role="presentation" class=""><a href="#reviews" role="tab" id="reviews-tab" data-toggle="tab" aria-controls="reviews" aria-expanded="false">Doświadczenia użytkowników</a></li>
        </ul>
        <div id="boilerTabsContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="overview" aria-labelledby="overview-tab">
              <div class="row">
              {{ boiler.lead|raw }}
              <hr/>
              {% set hasUnknownNotices = boiler.unknownNotices|length > 0 %}
              <div class="col-sm-{{ hasUnknownNotices ? '4' : '6' }}">
                  <h4>Zalety</h4>
                  <ul class="list-group">
                  {% for bp in boiler.positiveNotices %}
                    <li class="list-group-item list-group-item-success">
                        <h5><strong>{{ bp.label }}</strong></h5>
                        <p>{{ bp.content }}</p>
                    </li>
                  {% endfor %}
                  </ul>
              </div>
              {% if hasUnknownNotices %}
              <div class="col-sm-4">
                  <h4>Niewiadome</h4>
                  <ul class="list-group">
                  {% for bp in boiler.unknownNotices %}
                    <li class="list-group-item">
                        <h5><strong>{{ bp.label }}</strong></h5>
                        <p>{{ bp.content }}</p>
                    </li>
                  {% endfor %}
                  </ul>
              </div>
              {% endif %}
              <div class="col-sm-{{ hasUnknownNotices ? '4' : '6' }}">
                  <h4>Wady</h4>
                  <ul class="list-group">
                  {% for bp in boiler.negativeNotices %}
                    <li class="list-group-item list-group-item-danger">
                        <h5><strong>{{ bp.label }}</strong></h5>
                        <p>{{ bp.content }}</p>
                    </li>
                  {% else %}
                    <p>Nie stwierdzono (co nie znaczy, że żadnych nie ma).</p>
                  {% endfor %}
                  </ul>
              </div>
              </div>
              <div class="row alert alert-info">
                  <h4>Używasz tego kotła? Podziel się wrażeniami!</h4>
                  <p>Pomóż innym poznać praktyczne zalety i wady tego kotła. <a href="{{ path('ranking_review', {boilerId: boiler.id}) }}"><strong>Dodaj opinię o kotle {{ boiler }}</strong></a>.</p>
              </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="details" aria-labelledby="details-tab">
              <h2>Detale techniczne</h2>
              {% if boiler.hasCrossSectionImage %}
              <div class="thumbnail">
                  <img src="{{ vich_uploader_asset(boiler, 'crossSectionFile') }}" style="max-width:480px;margin:0 auto" />
                  <div class="caption text-center">
                      <p>Przekrój kotła {{ boiler.name }}</p>
                  </div>
              </div>
              {% endif %}
              {{ boiler.content|raw }}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">
              <h2>Uzasadnienie oceny</h2>
              {{ boiler.ratingExplanation|raw }}
              {% if boiler.changes %}
                  <h3>Historia zmian</h3>
                  <dl>
                  {% for change in boiler.changes %}
                      <dt>{{ change.date|date('d.m.Y') }}: {{ change.content }}</dt>
                      <dd>{% if change.oldRating %}Zmiana oceny: <strong>{{ change.oldRating }}</strong> &rarr; <strong>{{ change.newRating }}</strong>{% else %}Ocena bez zmian.{% endif %}</dd>
                  {% else %}
                      <dt>Tutaj pojawią się informacje kiedy, co i dlaczego było zmieniane w opisie kotła oraz jego ocenie.</dt>
                      <dd>Na razie nic tutaj nie ma.</dd>
                  {% endfor %}
                  </dl>
              {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="reviews" aria-labelledby="reviews-tab">
              <h2>Doświadczenia użytkowników</h2>
              {% if boiler.reviewSummary and boiler.reviewSummary.rating > 0 %}
                  <h3>Ogólna ocena: <span class="label label-success">{{ boiler.reviewSummary.ratingString }}/5</span> <small>(ocen: {{ boiler.reviewSummary.reviewsNumber }})</small></h3>
                  <p>{{ boiler.reviewSummary.comment|raw }}&nbsp;</p>

                  <h4>Jakość wykonania: <span class="label label-success">{{ boiler.reviewSummary.qualityRatingString }}/5</span></h4>
                  <p>{{ boiler.reviewSummary.qualityComment|raw }}&nbsp;</p>

                  {% if boiler.reviewSummary.warrantyReviewsNumber > 0 %}
                      <h4>Gwarancja i serwis: <span class="label label-success">{{ boiler.reviewSummary.warrantyRatingString }}/5</span> <small>(ocen: {{ boiler.reviewSummary.warrantyReviewsNumber }})</small></h4>
                  {% else %}
                  <h4>Gwarancja i serwis: <small>jeszcze nikt nie korzystał z gwarancji ani serwisu</small></h4>
                  {% endif %}
                  <p>{{ boiler.reviewSummary.warrantyComment|raw }}&nbsp;</p>

                  <h4>Obsługa: <span class="label label-success">{{ boiler.reviewSummary.operationRatingString }}/5</span></h4>
                  <p>{{ boiler.reviewSummary.operationComment|raw }}&nbsp;</p>

                  <h3>Co zauważyli użytkownicy</h3>
                  {% if experiences|length > 0 %}
                      <dl>
                      {% for exp in experiences %}
                          <dt>{{ exp.title }} ({{ exp.countConfirmations == 1 ? '1 głos' : exp.countConfirmations ~ ' głosów' }} na TAK, {{ exp.countNegations == 1 ? '1 głos' : exp.countNegations ~ ' głosów' }} na NIE)</dt>
                          <dd>{{ exp.content }}</dd>
                      {% endfor %}
                      </dl>
                  {% else %}
                      <div class="alert alert-info">Na razie nie ma żadnych spostrzeżeń użytkowników odnośnie tego kotła.</div>
                  {% endif %}

              {% else %}
                  <p>Nikt jeszcze nie dodał opinii. <a href="{{ path('ranking_review', {boilerId: boiler.id}) }}"><strong>Zrób to jako pierwszy!</strong></a></p>
              {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/krakenranking/js/boiler.js') }}"></script>
{% endblock %}
