{% extends '::base_ranking.html.twig' %}

{% block body %}
    <div class="col-sm-8">
        <div class="jumbo">
            <div class="wrap">
                <h1>Przegląd kotłów na węgiel i drewno</h1>
                <p>Oto niezależny, niekomercyjny przegląd rynku, który &mdash; na drodze analizy danych technicznych i&nbsp;doświadczeń użytkowników &mdash; wyszukuje kotły najbardziej efektywne i&nbsp;najczystsze a&nbsp;niekoniecznie najdroższe.</p><br/><br/>
                <a class="btn btn-raised btn-success btn-large" href="{{ path('ranking_about') }}">Więcej o rankingu</a>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" method="POST" action="{{ url('ranking_search')}}">
            <div class="row">
                <div class="col-sm-12">
                      <fieldset>
                          <legend>Szukam konkretnej sztuki</legend>
                              {{ form_row(searchForm.modelName) }}
                              <button type="submit" class="btn btn-raised btn-primary pull-right">Szukaj</button>
                      </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                      <fieldset>
                          <legend>Szukam kotła o konkretnych parametrach</legend>
                          {{ form_row(searchForm.manufacturer) }}
                          {{ form_row(searchForm.category) }}
                          {{ form_row(searchForm.normClass) }}
                          {{ form_row(searchForm.fuelType) }}
                          {{ form_row(searchForm.forClosedSystem) }}
                          {{ form_row(searchForm.power) }}
                          {{ form_row(searchForm.material) }}
                          {{ form_row(searchForm.rating) }}
                          {{ form_rest(searchForm) }}
                          <button type="submit" class="btn btn-raised btn-primary pull-right" style="margin-right:15px">Szukaj</button>
                      </fieldset>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Oceń swój kocioł</h2>
        <p>Najwięcej o jakości pracy kotła mówi jego codzienne użytkowanie. Twoje doświadczenia pomogą innym w&nbsp;wyborze kotła odpowiedniego do ich potrzeb.</p>
        <a class="btn btn-raised btn-warning btn-lg" href="{{ path('ranking_review') }}">Dodaj opinię</a>
        <h2>Zaproponuj kocioł do&nbsp;rankingu</h2>
        <p>Stale poszukujemy nowych, zwłaszcza dobrych modeli. Nie ma tu kotła, który cię interesuje? Podrzuć nam namiary, a przyjrzymy się mu.</p>
        <a class="btn btn-raised btn-default btn-lg" href="{{ path('ranking_proposal') }}">Prześlij propozycję do rankingu</a>
    </div>
{% endblock body %}
