{% extends '::base_ranking.html.twig' %}

{% block body %}
    <div class="col-sm-8">
        <div class="jumbo">
            <div class="wrap">
                <h1>Najlepsze kotły na węgiel i drewno. Czyli jakie?</h1>
                <p>Ranking kotłów to niezależny, niekomercyjny przegląd rynku.
                Znajdziesz tu kotły bez poważnych wad konstrukcyjnych, w których da się palić nie kopcąc.</p><br/><br/>
                <a class="btn btn-raised btn-success btn-large" href="{{ path('ranking_about') }}">Więcej o rankingu</a>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" method="POST" action="{{ url('ranking_search')}}">
            <div class="row">
                <div class="col-sm-12">
                      <fieldset>
                          <legend>Szukam konkretnej sztuki</legend>
                              <div class="col-sm-4">
                                  {{ form_label(searchForm.modelName) }}
                              </div>
                              <div class="col-sm-6">
                                  {{ form_widget(searchForm.modelName) }}
                              </div>
                              <div class="col-sm-2">
                                  <button type="submit" class="btn btn-raised btn-primary">Szukaj</button>
                              </div>
                      </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                      <fieldset>
                          <legend>Szukam kotła o wybranych parametrach</legend>
                          {{ form_row(searchForm.manufacturer) }}
                          {{ form_row(searchForm.category) }}
                          {{ form_row(searchForm.fuelType) }}
                          <div class="form-group">
                              {{ form_widget(searchForm.forClosedSystem) }}
                          </div>
                          <div class="form-group">
                              {{ form_widget(searchForm.needsFixing) }}
                              <p><small>{{ form_help(searchForm.needsFixing) }}</small></p>
                          </div>
                          {{ form_row(searchForm.power) }}
                          {{ form_row(searchForm.material) }}
                          {{ form_row(searchForm.normClass) }}
                          {{ form_row(searchForm.rating) }}
                          {{ form_rest(searchForm) }}
                          <button type="submit" class="btn btn-raised btn-primary pull-right" style="margin-right:15px">Szukaj</button>
                      </fieldset>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Oceń swój kocioł</h2>
        <p>Najwięcej o jakości pracy kotła mówi jego codzienne użytkowanie. Twoje doświadczenia pomogą innym w wyborze kotła odpowiedniego do ich potrzeb.</p>
        <a class="btn btn-raised btn-warning btn-lg" href="{{ path('ranking_review') }}">Dodaj opinię</a>
        <h2>Zaproponuj kocioł do&nbsp;rankingu</h2>
        <p>Stale poszukujemy nowych, zwłaszcza dobrych modeli. Nie ma tu kotła, który cię interesuje? Podrzuć nam namiary, a przyjrzymy się mu.</p>
        <a class="btn btn-raised btn-default btn-lg" href="{{ path('ranking_proposal') }}">Prześlij propozycję do rankingu</a>
    </div>
{% endblock body %}
