{% extends '::base.html.twig' %}

{% block body %}

<div class="row text-center">
    <div class="col-md-12">
        {% include('KrakenWarmBundle:Calculator:steps.html.twig') with {step: 4} %}
    </div>
</div>

<div class="container">
    <div class="well bs-component">
        <form action="{{ path('ceiling', {slug: calc.slug}) }}" class="form-horizontal" method="post">
        <div class="row">
            <div class="col-md-12">
                  <h2>Poddasze i parter</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        <strong>Nie wszystko jest dobrze.</strong> Sprawdź pola oznaczone czerwonym kolorem.
                    </div>
                    {{ form_errors(form) }}
                {% endif %}
                {{ form_row(form.has_top_isolation) }}
                <div id="top_isolation" style="display:none">
                    {{ form_row(form.top_isolation_layer) }}
                </div>
                {{ form_row(form.has_bottom_isolation) }}
                <div id="bottom_isolation" style="display:none">
                    {{ form_row(form.bottom_isolation_layer) }}
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="col-md-6">
                <p>Podaj czy i jak izolowane są pomieszczenia ogrzewane od góry i od dołu budynku.</p>
                <p>Izolacja to nie tylko styropian i wełna mineralna! Liczy się także np. trzcina, słoma, trociny czy żużel (na płaskim dachu).</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                  <p><span class="asterisk">*</span> - pola wymagane</p>
                  {{ form_rest(form) }}
                  <button type="submit" class="btn btn-raised btn-primary pull-right">Dalej</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/krakenwarm/js/ceiling.js') }}"></script>
{% endblock %}

