{% extends '::base.html.twig' %}

{% block body %}

<div class="row text-center">
  <div class="col-md-12">
    <div class="btn-group calculation-steps">
      <a href="{{ path('start', {slug: calc.slug}) }}" class="btn btn-raised">Start</a>
      <a href="{{ path('location', {slug: calc.slug}) }}" class="btn btn-raised">Lokalizacja</a>
      <a href="javascript:void(0)" class="btn btn-warning btn-raised">Wymiary</a>
      <a href="javascript:void(0)" class="btn btn-raised">Ściany</a>
      <a href="javascript:void(0)" class="btn btn-raised">Poddasze i parter</a>
      <a href="javascript:void(0)" class="btn btn-raised">Ogrzewanie</a>
      <a href="javascript:void(0)" class="btn btn-success btn-raised">Wynik</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <form action="{{ path('dimensions', {slug: calc.slug}) }}" class="form-horizontal" method="post">
            {{ form_start(form, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8}) }}
            {{ form_errors(form) }}

            <h2>Wymiary budynku</h2>
            {# form_row(form.construction_year) #}

            <div class="form-actions">
              <p><span class="asterisk">*</span> - pola wymagane</p>
              {{ form_rest(form) }}
              <button type="submit" class="btn btn-raised btn-primary pull-right">Dalej</button>
            </div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
