{% extends '::base.html.twig' %}

{% block body %}

<div class="row text-center">
    <div class="col-md-12">
        <div class="btn-group calculation-steps">
            <a href="{{ path('start', {slug: calc.slug}) }}" class="btn btn-raised">Start</a>
            <a href="{{ path('location', {slug: calc.slug}) }}" class="btn btn-raised">Lokalizacja</a>
            <a href="javascript:void(0)" class="btn btn-warning btn-raised">Wymiary</a>
            <a href="javascript:void(0)" class="btn btn-raised">Ściany</a>
            <a href="javascript:void(0)" class="btn btn-raised">Poddasze i parter</a>
            <a href="javascript:void(0)" class="btn btn-raised">Ogrzewanie</a>
            <a href="javascript:void(0)" class="btn btn-success btn-raised">Wynik</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="well bs-component">
        <form action="{{ path('dimensions', {slug: calc.slug}) }}" class="form-horizontal" method="post">
        <div class="row">
            <div class="col-md-12">
                  {{ form_errors(form) }}
                  <h2>Powierzchnia zabudowy</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.has_area) }}
                <div id="has_area_yes" style="display:none">
                    {{ form_row(form.area) }}
                </div>
                <div id="has_area_no" style="display:none">
                    {{ form_row(form.building_shape) }}
                    {{ form_row(form.building_length) }}
                    {{ form_row(form.building_width) }}
                    <div id="contour_free_area" style="display:none">
                        {{ form_row(form.building_contour_free_area) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-info">
                  <h4>Co to jest powierzchnia zabudowy?</h4>
                  To powierzchnia zewnętrznego obrysu budynku.
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Układ pięter</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.building_floors) }}
                {{ form_row(form.building_roof) }}
                {{ form_row(form.building_has_basement) }}
                <div id="heated_floors">
                    {{ form_row(form.building_heated_floors) }}
                </div>
                {{ form_row(form.floor_height) }}
            </div>
            <div class="col-md-6">
                <h3>Podgląd sytuacji</h3>
                <div id="house_preview"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                  <p><span class="asterisk">*</span> - pola wymagane</p>
                  {{ form_rest(form) }}
                  <button type="submit" class="btn btn-raised btn-primary pull-right">Dalej</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}
