{% extends '::base.html.twig' %}

{% block body %}

<div class="row text-center">
    <div class="col-md-12">
        <div class="btn-group calculation-steps">
            {% include('KrakenWarmBundle:Calculator:steps.html.twig') with {step: 2} %}
        </div>
    </div>
</div>

<div class="container">
    <div class="well bs-component">
        <form action="{{ path('dimensions', {slug: calc.slug}) }}" class="form-horizontal" method="post">
        <div class="row">
            <div class="col-md-12">
                  <h2>Powierzchnia mieszkania</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        <strong>Nie wszystko jest dobrze.</strong> Sprawdź pola oznaczone czerwonym kolorem.
                    </div>
                {% endif %}
TODO od zera numeracja pięter ma startować
                {{ form_row(form.area) }}
                {{ form_row(form.floor_height) }}
                {{ form_row(form.building_floors) }}
                <div id="heated_floors">
                    {{ form_row(form.building_heated_floors) }}
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                  <p><span class="asterisk">*</span> - pola wymagane</p>
                  {{ form_rest(form) }}
                  <button type="submit" class="btn btn-raised btn-primary pull-right">Dalej</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/krakenwarm/js/dimensions_apartment.js') }}"></script>
{% endblock %}
