{% extends '::base.html.twig' %}

{% block body %}

<div class="row text-center">
    <div class="col-md-12">
        <div class="btn-group calculation-steps">
            {% include('KrakenWarmBundle:Calculator:steps.html.twig') with {step: 5} %}
        </div>
    </div>
</div>

<div class="container">
    <div class="well bs-component">
        <form action="{{ path('heating', {slug: calc.slug}) }}" class="form-horizontal" method="post">
        <div class="row">
            <div class="col-md-12">
                  <h2>Ogrzewanie</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">
                        <strong>Nie wszystko jest dobrze.</strong> Sprawdź pola oznaczone czerwonym kolorem.
                    </div>
                    {{ form_errors(form) }}
                {% endif %}
                {{ form_row(form.indoor_temperature) }}
                {{ form_row(form.ventilation_type) }}
                {{ form_row(form.include_hot_water) }}
                <div id="hot_water" style="display:none">
                {{ form_row(form.hot_water_persons) }}
                {{ form_row(form.hot_water_use) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-info">
                    <h4>Jaką temperaturę podać?</h4>
                    Taką, jaką uznajesz za komfortową w domu zimą bez noszenia dwóch swetrów i&nbsp;kaleson. Za standardową temperaturę pokojową w takich obliczeniach przyjmuje się 20&deg;C.<br />
                    <strong>Jeśli marzniesz poniżej 25&deg;C &mdash; wpisz właśnie tyle</strong>. Chodzi o&nbsp;to, by obliczenia oddały realne zużycie ciepła w twoim domu.
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Obecny sposób ogrzewania</h3>
                {{ form_row(form.heating_device) }}
                {{ form_row(form.stove_power) }}
                {{ form_row(form.fuel_consumptions) }}
                <h3>Wysłać link do obliczeń na maila?</h3>
                <p>Spokojnie, nie dostaniesz od nas spamu. Nie przechowujemy twojego adresu, jest użyty jednorazowo do wysłania wiadomości z linkiem do wyniku.</p>
                {{ form_row(form.email) }}
                {{ form_rest(form) }}
            </div>
            <div class="col-md-6">
                <div class="alert alert-info">
                    Możesz podać obecny lub planowany sposób ogrzewania, a otrzymasz <strong>porównanie opłacalności względem innych źródeł ciepła</strong>.<br/>
                    Jeśli podasz dotychczasowe zużycie opału/energii w ciągu sezonu grzewczego, to dowiesz się, z jaką efektywnością ogrzewasz i co możesz poprawić.
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                  <p><span class="asterisk">*</span> - pola wymagane</p>
                  {{ form_rest(form) }}
                  <button type="submit" class="btn btn-raised btn-primary pull-right">Wynik</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/krakenwarm/js/heating.js') }}"></script>
{% endblock %}
